In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv('diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [2]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [3]:
data[data.Glucose>(data.Glucose.mean()+3*data.Glucose.std())]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [4]:
data[data.BloodPressure>(data.BloodPressure.mean()+3*data.BloodPressure.std())]

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

In [5]:
data[data.SkinThickness>(data.SkinThickness.mean()+3*data.SkinThickness.std())]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
579,2,197,70,99,0,34.7,0.575,62,1

In [6]:
data=data[data.SkinThickness<=(data.SkinThickness.mean()+3*data.SkinThickness.std())]

In [7]:
data[data.Insulin>(data.Insulin.mean()+3*data.Insulin.std())]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
8,2,197,70,45,543,30.5,0.158,53,1
13,1,189,60,23,846,30.1,0.398,59,1
111,8,155,62,26,495,34.0,0.543,46,1
153,1,153,82,42,485,40.6,0.687,23,0
186,8,181,68,36,495,30.1,0.615,60,1
220,0,177,60,29,478,34.6,1.072,21,1
228,4,197,70,39,744,36.7,2.329,31,0
247,0,165,90,33,680,52.3,0.427,23,0
286,5,155,84,44,545,38.7,0.619,34,0
370,3,173,82,48,465,38.4,2.137,25,1
409,1,172,68,49,579,42.4,0.702,28,1
415,3,173,84,33,474,35.7,0.258,22,1
486,1,139,62,41,480,40.7,0.536,21,0
584,8,124,76,24,600,28.7,0.687,52,1
645,2,157,74,35,440,39.4,0.134,30,0
655,2,155,52,27,540,38.7,0.240,25,1
695,7,142,90,24,480,30.4,0.128,43,1
753,0,181,88,44,510,43.3,0.222,26,1

In [8]:
data=data[data.Insulin<=(data.Insulin.mean()+3*data.Insulin.std())]

In [9]:
data[data.BMI>(data.BMI.mean()+3*data.BMI.std())]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
177,0,129,110,46,130,67.1,0.319,26,1
445,0,180,78,63,14,59.4,2.420,25,1
673,3,123,100,35,240,57.3,0.880,22,0

In [10]:
data=data[data.BMI<=(data.BMI.mean()+3*data.BMI.std())]

In [11]:
data[data.DiabetesPedigreeFunction>(data.DiabetesPedigreeFunction.mean()+3*data.DiabetesPedigreeFunction.std())]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
4,0,137,40,35,168,43.1,2.288,33,1
12,10,139,80,0,0,27.1,1.441,57,0
45,0,180,66,39,0,42.0,1.893,25,1
58,0,146,82,0,0,40.5,1.781,44,0
330,8,118,72,19,0,23.1,1.476,46,0
371,0,118,64,23,89,0.0,1.731,21,0
395,2,127,58,24,275,27.7,1.600,25,0
593,2,82,52,22,115,28.5,1.699,25,0
621,2,92,76,20,0,24.2,1.698,28,0
622,6,183,94,0,0,40.8,1.461,45,0

In [12]:
data=data[data.DiabetesPedigreeFunction<=(data.DiabetesPedigreeFunction.mean()+3*data.DiabetesPedigreeFunction.std())]

In [13]:
data.shape

(736, 9)

In [14]:
X=data.drop('Outcome',axis="columns")

In [15]:
y=data.Outcome

In [22]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_scaled=scaler.fit_transform(X)

In [23]:
from sklearn.tree import DecisionTreeClassifier
dec=DecisionTreeClassifier()

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_scaled,y,stratify=y,test_size=0.2,random_state=10)

In [37]:
dec.fit(X_train,y_train)
dec.score(X_test,y_test)

0.5945945945945946

In [38]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(DecisionTreeClassifier(),X,y,cv=5)
scores

array([0.68918919, 0.68027211, 0.70748299, 0.76190476, 0.76190476])

In [39]:
scores.mean()

0.7201507630079058

In [44]:
from sklearn.ensemble import BaggingClassifier
bag=BaggingClassifier(
    estimator=DecisionTreeClassifier(),
    oob_score=True,
    n_estimators=100
)
bag.fit(X_train,y_train)

BaggingClassifier(estimator=DecisionTreeClassifier(), n_estimators=100,
                  oob_score=True)

In [45]:
bag.oob_score_

0.7602040816326531

In [46]:
bag.score(X_test,y_test)

0.75

In [47]:
scores=cross_val_score(bag,X,y,cv=5)
scores

array([0.72972973, 0.72789116, 0.75510204, 0.78911565, 0.75510204])

In [48]:
scores.mean()

0.7513881228166943

In [49]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7567567567567568